/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$i_arrow_left_name = 'i-arrow-left';
$i_arrow_left_x = 18px;
$i_arrow_left_y = 161px;
$i_arrow_left_offset_x = -18px;
$i_arrow_left_offset_y = -161px;
$i_arrow_left_width = 16px;
$i_arrow_left_height = 27px;
$i_arrow_left_total_width = 286px;
$i_arrow_left_total_height = 249px;
$i_arrow_left_image = '../images/sprites.png';
$i_arrow_left = 18px 161px -18px -161px 16px 27px 286px 249px '../images/sprites.png' 'i-arrow-left';
$i_arrow_right_name = 'i-arrow-right';
$i_arrow_right_x = 34px;
$i_arrow_right_y = 161px;
$i_arrow_right_offset_x = -34px;
$i_arrow_right_offset_y = -161px;
$i_arrow_right_width = 16px;
$i_arrow_right_height = 27px;
$i_arrow_right_total_width = 286px;
$i_arrow_right_total_height = 249px;
$i_arrow_right_image = '../images/sprites.png';
$i_arrow_right = 34px 161px -34px -161px 16px 27px 286px 249px '../images/sprites.png' 'i-arrow-right';
$i_catalog_sprite_name = 'i-catalog-sprite';
$i_catalog_sprite_x = 0px;
$i_catalog_sprite_y = 0px;
$i_catalog_sprite_offset_x = 0px;
$i_catalog_sprite_offset_y = 0px;
$i_catalog_sprite_width = 286px;
$i_catalog_sprite_height = 32px;
$i_catalog_sprite_total_width = 286px;
$i_catalog_sprite_total_height = 249px;
$i_catalog_sprite_image = '../images/sprites.png';
$i_catalog_sprite = 0px 0px 0px 0px 286px 32px 286px 249px '../images/sprites.png' 'i-catalog-sprite';
$i_catalog_1_name = 'i-catalog-1';
$i_catalog_1_x = 149px;
$i_catalog_1_y = 59px;
$i_catalog_1_offset_x = -149px;
$i_catalog_1_offset_y = -59px;
$i_catalog_1_width = 28px;
$i_catalog_1_height = 22px;
$i_catalog_1_total_width = 286px;
$i_catalog_1_total_height = 249px;
$i_catalog_1_image = '../images/sprites.png';
$i_catalog_1 = 149px 59px -149px -59px 28px 22px 286px 249px '../images/sprites.png' 'i-catalog-1';
$i_catalog_10_name = 'i-catalog-10';
$i_catalog_10_x = 49px;
$i_catalog_10_y = 88px;
$i_catalog_10_offset_x = -49px;
$i_catalog_10_offset_y = -88px;
$i_catalog_10_width = 26px;
$i_catalog_10_height = 31px;
$i_catalog_10_total_width = 286px;
$i_catalog_10_total_height = 249px;
$i_catalog_10_image = '../images/sprites.png';
$i_catalog_10 = 49px 88px -49px -88px 26px 31px 286px 249px '../images/sprites.png' 'i-catalog-10';
$i_catalog_11_name = 'i-catalog-11';
$i_catalog_11_x = 13px;
$i_catalog_11_y = 188px;
$i_catalog_11_offset_x = -13px;
$i_catalog_11_offset_y = -188px;
$i_catalog_11_width = 13px;
$i_catalog_11_height = 27px;
$i_catalog_11_total_width = 286px;
$i_catalog_11_total_height = 249px;
$i_catalog_11_image = '../images/sprites.png';
$i_catalog_11 = 13px 188px -13px -188px 13px 27px 286px 249px '../images/sprites.png' 'i-catalog-11';
$i_catalog_12_name = 'i-catalog-12';
$i_catalog_12_x = 93px;
$i_catalog_12_y = 59px;
$i_catalog_12_offset_x = -93px;
$i_catalog_12_offset_y = -59px;
$i_catalog_12_width = 27px;
$i_catalog_12_height = 24px;
$i_catalog_12_total_width = 286px;
$i_catalog_12_total_height = 249px;
$i_catalog_12_image = '../images/sprites.png';
$i_catalog_12 = 93px 59px -93px -59px 27px 24px 286px 249px '../images/sprites.png' 'i-catalog-12';
$i_catalog_2_name = 'i-catalog-2';
$i_catalog_2_x = 206px;
$i_catalog_2_y = 32px;
$i_catalog_2_offset_x = -206px;
$i_catalog_2_offset_y = -32px;
$i_catalog_2_width = 32px;
$i_catalog_2_height = 18px;
$i_catalog_2_total_width = 286px;
$i_catalog_2_total_height = 249px;
$i_catalog_2_image = '../images/sprites.png';
$i_catalog_2 = 206px 32px -206px -32px 32px 18px 286px 249px '../images/sprites.png' 'i-catalog-2';
$i_catalog_3_name = 'i-catalog-3';
$i_catalog_3_x = 0px;
$i_catalog_3_y = 217px;
$i_catalog_3_offset_x = 0px;
$i_catalog_3_offset_y = -217px;
$i_catalog_3_width = 11px;
$i_catalog_3_height = 32px;
$i_catalog_3_total_width = 286px;
$i_catalog_3_total_height = 249px;
$i_catalog_3_image = '../images/sprites.png';
$i_catalog_3 = 0px 217px 0px -217px 11px 32px 286px 249px '../images/sprites.png' 'i-catalog-3';
$i_catalog_4_name = 'i-catalog-4';
$i_catalog_4_x = 98px;
$i_catalog_4_y = 88px;
$i_catalog_4_offset_x = -98px;
$i_catalog_4_offset_y = -88px;
$i_catalog_4_width = 27px;
$i_catalog_4_height = 23px;
$i_catalog_4_total_width = 286px;
$i_catalog_4_total_height = 249px;
$i_catalog_4_image = '../images/sprites.png';
$i_catalog_4 = 98px 88px -98px -88px 27px 23px 286px 249px '../images/sprites.png' 'i-catalog-4';
$i_catalog_5_name = 'i-catalog-5';
$i_catalog_5_x = 242px;
$i_catalog_5_y = 59px;
$i_catalog_5_offset_x = -242px;
$i_catalog_5_offset_y = -59px;
$i_catalog_5_width = 27px;
$i_catalog_5_height = 14px;
$i_catalog_5_total_width = 286px;
$i_catalog_5_total_height = 249px;
$i_catalog_5_image = '../images/sprites.png';
$i_catalog_5 = 242px 59px -242px -59px 27px 14px 286px 249px '../images/sprites.png' 'i-catalog-5';
$i_catalog_6_name = 'i-catalog-6';
$i_catalog_6_x = 50px;
$i_catalog_6_y = 161px;
$i_catalog_6_offset_x = -50px;
$i_catalog_6_offset_y = -161px;
$i_catalog_6_width = 15px;
$i_catalog_6_height = 26px;
$i_catalog_6_total_width = 286px;
$i_catalog_6_total_height = 249px;
$i_catalog_6_image = '../images/sprites.png';
$i_catalog_6 = 50px 161px -50px -161px 15px 26px 286px 249px '../images/sprites.png' 'i-catalog-6';
$i_catalog_7_name = 'i-catalog-7';
$i_catalog_7_x = 145px;
$i_catalog_7_y = 32px;
$i_catalog_7_offset_x = -145px;
$i_catalog_7_offset_y = -32px;
$i_catalog_7_width = 28px;
$i_catalog_7_height = 24px;
$i_catalog_7_total_width = 286px;
$i_catalog_7_total_height = 249px;
$i_catalog_7_image = '../images/sprites.png';
$i_catalog_7 = 145px 32px -145px -32px 28px 24px 286px 249px '../images/sprites.png' 'i-catalog-7';
$i_catalog_8_name = 'i-catalog-8';
$i_catalog_8_x = 120px;
$i_catalog_8_y = 59px;
$i_catalog_8_offset_x = -120px;
$i_catalog_8_offset_y = -59px;
$i_catalog_8_width = 29px;
$i_catalog_8_height = 22px;
$i_catalog_8_total_width = 286px;
$i_catalog_8_total_height = 249px;
$i_catalog_8_image = '../images/sprites.png';
$i_catalog_8 = 120px 59px -120px -59px 29px 22px 286px 249px '../images/sprites.png' 'i-catalog-8';
$i_catalog_9_name = 'i-catalog-9';
$i_catalog_9_x = 75px;
$i_catalog_9_y = 88px;
$i_catalog_9_offset_x = -75px;
$i_catalog_9_offset_y = -88px;
$i_catalog_9_width = 23px;
$i_catalog_9_height = 31px;
$i_catalog_9_total_width = 286px;
$i_catalog_9_total_height = 249px;
$i_catalog_9_image = '../images/sprites.png';
$i_catalog_9 = 75px 88px -75px -88px 23px 31px 286px 249px '../images/sprites.png' 'i-catalog-9';
$i_social_sprite_name = 'i-social-sprite';
$i_social_sprite_x = 0px;
$i_social_sprite_y = 59px;
$i_social_sprite_offset_x = 0px;
$i_social_sprite_offset_y = -59px;
$i_social_sprite_width = 93px;
$i_social_sprite_height = 29px;
$i_social_sprite_total_width = 286px;
$i_social_sprite_total_height = 249px;
$i_social_sprite_image = '../images/sprites.png';
$i_social_sprite = 0px 59px 0px -59px 93px 29px 286px 249px '../images/sprites.png' 'i-social-sprite';
$i_social_fb_name = 'i-social-fb';
$i_social_fb_x = 0px;
$i_social_fb_y = 188px;
$i_social_fb_offset_x = 0px;
$i_social_fb_offset_y = -188px;
$i_social_fb_width = 13px;
$i_social_fb_height = 29px;
$i_social_fb_total_width = 286px;
$i_social_fb_total_height = 249px;
$i_social_fb_image = '../images/sprites.png';
$i_social_fb = 0px 188px 0px -188px 13px 29px 286px 249px '../images/sprites.png' 'i-social-fb';
$i_social_insta_name = 'i-social-insta';
$i_social_insta_x = 125px;
$i_social_insta_y = 88px;
$i_social_insta_offset_x = -125px;
$i_social_insta_offset_y = -88px;
$i_social_insta_width = 23px;
$i_social_insta_height = 23px;
$i_social_insta_total_width = 286px;
$i_social_insta_total_height = 249px;
$i_social_insta_image = '../images/sprites.png';
$i_social_insta = 125px 88px -125px -88px 23px 23px 286px 249px '../images/sprites.png' 'i-social-insta';
$i_social_like_name = 'i-social-like';
$i_social_like_x = 222px;
$i_social_like_y = 59px;
$i_social_like_offset_x = -222px;
$i_social_like_offset_y = -59px;
$i_social_like_width = 20px;
$i_social_like_height = 19px;
$i_social_like_total_width = 286px;
$i_social_like_total_height = 249px;
$i_social_like_image = '../images/sprites.png';
$i_social_like = 222px 59px -222px -59px 20px 19px 286px 249px '../images/sprites.png' 'i-social-like';
$i_social_tw_name = 'i-social-tw';
$i_social_tw_x = 238px;
$i_social_tw_y = 32px;
$i_social_tw_offset_x = -238px;
$i_social_tw_offset_y = -32px;
$i_social_tw_width = 22px;
$i_social_tw_height = 18px;
$i_social_tw_total_width = 286px;
$i_social_tw_total_height = 249px;
$i_social_tw_image = '../images/sprites.png';
$i_social_tw = 238px 32px -238px -32px 22px 18px 286px 249px '../images/sprites.png' 'i-social-tw';
$i_social_vk_name = 'i-social-vk';
$i_social_vk_x = 24px;
$i_social_vk_y = 137px;
$i_social_vk_offset_x = -24px;
$i_social_vk_offset_y = -137px;
$i_social_vk_width = 15px;
$i_social_vk_height = 19px;
$i_social_vk_total_width = 286px;
$i_social_vk_total_height = 249px;
$i_social_vk_image = '../images/sprites.png';
$i_social_vk = 24px 137px -24px -137px 15px 19px 286px 249px '../images/sprites.png' 'i-social-vk';
$i_ui_sprite_name = 'i-ui-sprite';
$i_ui_sprite_x = 0px;
$i_ui_sprite_y = 32px;
$i_ui_sprite_offset_x = 0px;
$i_ui_sprite_offset_y = -32px;
$i_ui_sprite_width = 145px;
$i_ui_sprite_height = 27px;
$i_ui_sprite_total_width = 286px;
$i_ui_sprite_total_height = 249px;
$i_ui_sprite_image = '../images/sprites.png';
$i_ui_sprite = 0px 32px 0px -32px 145px 27px 286px 249px '../images/sprites.png' 'i-ui-sprite';
$i_load_more_name = 'i-load-more';
$i_load_more_x = 0px;
$i_load_more_y = 88px;
$i_load_more_offset_x = 0px;
$i_load_more_offset_y = -88px;
$i_load_more_width = 49px;
$i_load_more_height = 49px;
$i_load_more_total_width = 286px;
$i_load_more_total_height = 249px;
$i_load_more_image = '../images/sprites.png';
$i_load_more = 0px 88px 0px -88px 49px 49px 286px 249px '../images/sprites.png' 'i-load-more';
$i_mail_large_name = 'i-mail-large';
$i_mail_large_x = 173px;
$i_mail_large_y = 32px;
$i_mail_large_offset_x = -173px;
$i_mail_large_offset_y = -32px;
$i_mail_large_width = 33px;
$i_mail_large_height = 20px;
$i_mail_large_total_width = 286px;
$i_mail_large_total_height = 249px;
$i_mail_large_image = '../images/sprites.png';
$i_mail_large = 173px 32px -173px -32px 33px 20px 286px 249px '../images/sprites.png' 'i-mail-large';
$i_mail_name = 'i-mail';
$i_mail_x = 260px;
$i_mail_y = 32px;
$i_mail_offset_x = -260px;
$i_mail_offset_y = -32px;
$i_mail_width = 25px;
$i_mail_height = 15px;
$i_mail_total_width = 286px;
$i_mail_total_height = 249px;
$i_mail_image = '../images/sprites.png';
$i_mail = 260px 32px -260px -32px 25px 15px 286px 249px '../images/sprites.png' 'i-mail';
$i_map_name = 'i-map';
$i_map_x = 0px;
$i_map_y = 161px;
$i_map_offset_x = 0px;
$i_map_offset_y = -161px;
$i_map_width = 18px;
$i_map_height = 27px;
$i_map_total_width = 286px;
$i_map_total_height = 249px;
$i_map_image = '../images/sprites.png';
$i_map = 0px 161px 0px -161px 18px 27px 286px 249px '../images/sprites.png' 'i-map';
$i_mark_name = 'i-mark';
$i_mark_x = 148px;
$i_mark_y = 88px;
$i_mark_offset_x = -148px;
$i_mark_offset_y = -88px;
$i_mark_width = 19px;
$i_mark_height = 16px;
$i_mark_total_width = 286px;
$i_mark_total_height = 249px;
$i_mark_image = '../images/sprites.png';
$i_mark = 148px 88px -148px -88px 19px 16px 286px 249px '../images/sprites.png' 'i-mark';
$i_phone_name = 'i-phone';
$i_phone_x = 200px;
$i_phone_y = 59px;
$i_phone_offset_x = -200px;
$i_phone_offset_y = -59px;
$i_phone_width = 22px;
$i_phone_height = 22px;
$i_phone_total_width = 286px;
$i_phone_total_height = 249px;
$i_phone_image = '../images/sprites.png';
$i_phone = 200px 59px -200px -59px 22px 22px 286px 249px '../images/sprites.png' 'i-phone';
$i_planet_name = 'i-planet';
$i_planet_x = 0px;
$i_planet_y = 137px;
$i_planet_offset_x = 0px;
$i_planet_offset_y = -137px;
$i_planet_width = 24px;
$i_planet_height = 24px;
$i_planet_total_width = 286px;
$i_planet_total_height = 249px;
$i_planet_image = '../images/sprites.png';
$i_planet = 0px 137px 0px -137px 24px 24px 286px 249px '../images/sprites.png' 'i-planet';
$i_search_name = 'i-search';
$i_search_x = 177px;
$i_search_y = 59px;
$i_search_offset_x = -177px;
$i_search_offset_y = -59px;
$i_search_width = 23px;
$i_search_height = 22px;
$i_search_total_width = 286px;
$i_search_total_height = 249px;
$i_search_image = '../images/sprites.png';
$i_search = 177px 59px -177px -59px 23px 22px 286px 249px '../images/sprites.png' 'i-search';
$i_x_name = 'i-x';
$i_x_x = 167px;
$i_x_y = 88px;
$i_x_offset_x = -167px;
$i_x_offset_y = -88px;
$i_x_width = 15px;
$i_x_height = 15px;
$i_x_total_width = 286px;
$i_x_total_height = 249px;
$i_x_image = '../images/sprites.png';
$i_x = 167px 88px -167px -88px 15px 15px 286px 249px '../images/sprites.png' 'i-x';
$spritesheet_width = 286px;
$spritesheet_height = 249px;
$spritesheet_image = '../images/sprites.png';
$spritesheet_sprites = $i_arrow_left $i_arrow_right $i_catalog_sprite $i_catalog_1 $i_catalog_10 $i_catalog_11 $i_catalog_12 $i_catalog_2 $i_catalog_3 $i_catalog_4 $i_catalog_5 $i_catalog_6 $i_catalog_7 $i_catalog_8 $i_catalog_9 $i_social_sprite $i_social_fb $i_social_insta $i_social_like $i_social_tw $i_social_vk $i_ui_sprite $i_load_more $i_mail_large $i_mail $i_map $i_mark $i_phone $i_planet $i_search $i_x;
$spritesheet = 286px 249px '../images/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
